<h1>ui primitives</h1>


<h2>Listbox</h2>

<ul uiListbox #listbox="listbox">
  <li uiOption value="garlic">Garlic</li>
  <li uiOption value="onion">Onion</li>
  <li uiOption value="tomato">Tomato</li>
</ul>

<hr>

<p>Selected value: {{listbox.value()}}</p>
<p>Option Id: {{listbox.uiState.activeDescendantId()}}</p>


<h2>Menu</h2>

<ul uiMenu #menu="menu">
  <li>
    <button uiMenuItem>Garlic</button>
  </li>
  <li>
    <button uiMenuItem>Onion</button>
  </li>
  <li>
    <button uiMenuItem>Tomato</button>
  </li>
</ul>

<hr>

<p>Item Id: {{menu.uiState.activeDescendantId()}}</p>

<h2>Basic Grid</h2>

<table uiGrid>
  <tbody>
    <tr uiGridRow>
      <td uiGridCell></td>
      <td uiGridCell></td>
      <td uiGridCell></td>
    </tr>
    <tr uiGridRow>
      <td uiGridCell></td>
      <td uiGridCell></td>
      <td uiGridCell></td>
    </tr>
    <tr uiGridRow>
      <td uiGridCell></td>
      <td uiGridCell></td>
      <td uiGridCell></td>
    </tr>
  </tbody>
</table>

<h2>Grid with Widgets</h2>

<table uiGrid>
  <tbody>
    <tr uiGridRow>
      <td uiGridCell>
        <input type="checkbox" uiGridWidget />
      </td>
      <td uiGridCell>
        <input type="range" [usesArrowKeys]="true" uiGridWidget />
      </td>
      <td uiGridCell>
        <input type="text" [editable]="true" uiGridWidget />
      </td>
    </tr>
    <tr uiGridRow>
      <td uiGridCell>
        <input type="radio" name="1" uiGridWidget>
        <input type="radio" name="1" uiGridWidget>
        <input type="radio" name="1" uiGridWidget>
        <input type="radio" name="1" uiGridWidget>
        <input type="radio" name="1" uiGridWidget>
        <input type="radio" name="1" uiGridWidget>
      </td>
      <td uiGridCell>
        <input type="color" [usesArrowKeys]="true" uiGridWidget>
      </td>
      <td uiGridCell>
        <a href="/" uiGridWidget>Click me!</a>
      </td>
    </tr>
  </tbody>
</table>
